body {
    text-align: center;
    font-family: 'Happy Monkey', cursive;
    background: linear-gradient(#a2d2ff, #EFB0C9);
    color: #ffffff;
}

h1, h2, h3, h4, p {
    text-shadow: 0 0 1px black;}

#bff-img {
    width: 150px;
    border-radius: 50%;
    border: 6px solid #EFB0C9;
    margin-bottom: 10px;
}

#bday-age {
    background: #EFB0C9;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 5px 0 10px 0;
}

#bday-date {
    margin: 0;
    background: #EFB0C9;
    padding: 5px 10px;
    border-radius: 5px;
}

#header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*
Challenge:
1. Create a "gift-section" <div> that will wrap
   all the elements for the first gift.
2. Add the <h2>, <h3>, and <img> elements, and
   give all of them their own classes.
3. Style the elements according to the design.

PS: the image should be 400px wide.
*/

.gift-section{
    margin: 50px;
}

.gift-title {
    margin-bottom: 10px;
}

.gift-hint {
    margin-top: 0;
}

.gift-img {
    margin: 0 auto;
    height: 400px;
    width: 400px;
    background: center / cover no-repeat url("images/gift-cover.jpg");
    border: 10px solid white;
    border-radius: 10px;
}

#gift-img-happy:hover {
    background: url("images/happy.gif");
}

#gift-image-hot:hover {
    background: center / cover no-repeat url("images/hot.gif");
}

#gift-image-genius:hover {
    background: center / cover no-repeat url("images/genius.gif");
}

#gift-image-badass:hover {
    background: center / cover no-repeat url("images/badass.gif");
}

#gift-image-cheers {
    height: 200px;
    background: top / cover no-repeat url("images/gift-cover.jpg");
}

#gift-image-cheers:hover {
    height: 200px;
    background: center / cover no-repeat url("images/cheers.gif");
}

#footer {
    width: 400px;
    margin: 40px auto 20px;
    font-style: ;
}

a {
    color: white;
}